.social {
    li {
        display: inline-block;
        margin-right: 2px;
        text-align: center;

        i {
            line-height: 32px;
            font-size: 12px;
        }
    }

    a {
        border: 2px solid $background-color;
        color: $background-color;
        display: inline-block;
        height: 35px;
        width: 35px;

        &:hover {
            border: 2px solid $active-background-color;
            color: $active-background-color;
        }
    }
}

.bottom-header {
    p {
        margin-top: 10px;
        font-size: 13px;
    }

    @media only screen and (max-width: 479px)
    {
        margin-bottom: 10px;
    }
}