<h2 class="featurette-heading">@await Html.Chaos().RenderAsync("title") <span class="text-muted">@await Html.Chaos().RenderAsync("subtitle")</span></h2>
<p class="lead">
    @await Html.Chaos().RenderAsync("body")
</p>
