<div class="content">
    @await Html.Chaos().RenderAsync("skillset1");
    <!--End block content-->
    <!--Block content-->
    <div class="block-content margBMedium">


        <!--Skill design-->
        <div class=" skill">


            <!--Row-->
            <div class="row">

                <div class="vc">

                    <div class="col-md-11">

                        <ul class="skills-list clearfix">
                            <li>
                                <span class="h4">Sql Server</span>
                                <div class="progress">
                                    <div class="percentage" style="width: 90%; background-color:#cd5353"></div>
                                </div>
                            </li>
                            <li>
                                <span class="h4">Mongo DB</span>
                                <div class="progress">
                                    <div class="percentage" style="width: 60%; background-color:#cd5353"></div>
                                </div>
                            </li>
                            <li>
                                <span class="h4">Oracle</span>
                                <div class="progress">
                                    <div class="percentage" style="width: 70%; background-color:#cd5353"></div>
                                </div>
                            </li>


                        </ul>

                    </div>


                    <div class="col-md-1">
                        <div class="title dev">
                            <span>Databases </span>
                        </div>
                    </div>

                </div>

            </div>
            <!--End row-->

        </div>
        <!--End skill design-->

    </div>
    <!--End block content-->
    <!--Block content-->
    <div class="block-content">


        <!--Skill design-->
        <div class=" skill prs">


            <!--Row-->
            <div class="row ">

                <div class="vc">

                    <div class="col-md-11">

                        <ul class="skills-list clearfix">
                            <li>
                                <h4>Responsible</h4>
                                <div class="progress">
                                    <div class="percentage" style="width: 85%;"></div>
                                </div>
                            </li>
                            <li>
                                <h4>Creative</h4>
                                <div class="progress">
                                    <div class="percentage" style="width: 75%;"></div>
                                </div>
                            </li>
                            <li>
                                <h4>Multitasking</h4>
                                <div class="progress">
                                    <div class="percentage" style="width: 90%;"></div>
                                </div>
                            </li>







                        </ul>

                    </div>


                    <div class="col-md-1">
                        <div class="title prs">
                            <span>assets </span>
                        </div>
                    </div>


                </div>
            </div>
            <!--End row-->

        </div>
        <!--End skill design-->

    </div>
    <!--End block content-->




</div>