<div class="content">

    <!--Block content-->
    <div class="block-content ">


        <!--Timeline-->
        <div class="timeline experience">


            <!--Row-->
            <div class="row ">


                <div class="col-md-12">


                    <!--Experience holder-->
                    <div class="exp-holder margTop">


                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <span class="h4 bold">Lead .NET Developer</span>
                                <span class="h6 lightitalic"><i class="icon-calendar"></i> Jul 2011 - <span class="current">Current</span></span>
                            </div>
                            <p>
                                PANGAEA Digital Agency helpt u om succesvol te zijn op het Internet. Meer bezoekers, een betere conversie, een doeltreffend back-office en de zekerheid van continuiteit!

                                PANGAEA heeft een productportfolio samengesteld om dit succes te garanderen. Op onze website kunt u zien wat wij voor u kunnen betekenen.

                                Ieder product of dienst behoeft een eigen aanpak. Graag kijken we samen met u hoe we uw Internet Marketing aspiraties vorm kunnen geven !
                            </p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <span class="h4 bold">Team Leader / .NET Developer </span>
                                <span class="h6 lightitalic"><i class="icon-calendar"></i> Sept 2010 - Jun 2011</span>
                            </div>
                            <p>
                                MapTrace ontwerpt en realiseert informatiesystemen voor het beheer van en communicatie met mobiele objecten en mobiele medewerkers. Hiervoor is een uitgebreid producten pakket beschikbaar dat op basis van ASP / SAAS aangeboden wordt aan transportondernemingen, field service organisaties en het MKB. Onze relaties zijn door heel Nederland te vinden. Met het MapFOX-systeem bieden wij complete oplossingen voor ritregistratie, voertuigbeheersystemen, telemetrie, boordcomputers tot en met complete workflow-management oplossingen.
                            </p>
                        </div>
                        <!--End experience-->
                        <!--Experience-->
                        <div class="exp">
                            <div class="hgroup">
                                <span class="h4 bold">Consultant / .NET Developer</span>
                                <span class="h6 lightitalic"><i class="icon-calendar"></i> Jul 2005 - Aug 2010</span>
                            </div>
                            <p>
                                Quistor is the largest European Oracle Platinum partner with branches in 7 European countries specialized in Oracle add-on software products such as JD Edwards, Oracle Business Intelligence, Oracle Technology and 3rd party JD Edwards.
                            </p>
                        </div>
                        <!--End experience-->


                    </div>
                    <!--End experience holder-->
                </div>


            </div>
            <!--End row-->

        </div>
        <!--End timeline-->

    </div>
    <!--End block content-->


</div>