<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="/dist/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="margLTop margLBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 left-content">
                    <header>
                        <div class="main-header">
                            <!--Profile Header-->
                            <figure class="profile">
                                <img src="~/dist/images/profile.jpg" height="140" />
                                <figcaption class="name">
                                    <span>Patrick Evers</span>
                                </figcaption>
                            </figure>
                            <!--End Profile Header-->
                            <!--Navigation-->
                            <nav id="main-nav" class="main-nav clearfix tabbed">

                                <ul>
                                    <li class="active"><a href="/" class="active"><i class="icon-user"></i>About</a></li>
                                    @*<li><a href="#portfolio"><i class="icon-camera"></i>Portfolio</a></li>
                                    <li><a href="#blog"><i class="icon-chat"></i>Blog</a></li>
                                    <li class=""><a href="#contact" class=""><i class="icon-phone"></i>Contact</a></li>*@
                                </ul>

                            </nav>
                            <!--End Navigation-->
                        </div>
                        <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
                            <ul class="social">
                                <li><a href="https://www.facebook.com/pmdevers"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://github.com/pmdevers"><i class="icon-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/patrick-evers-8a44514/"><i class="icon-linkedin"></i></a></li>
                            </ul>
                            <p>© @DateTime.Now.Year Patrick Evers</p>
                        </div>
                    </header>
                </div>
                <div class="col-md-9 right-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>