@using Microsoft.AspNetCore.Identity;
@using SampleSite.Model;
@{
    Layout = "layout";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="panel panel-default">
    <div class="panel-heading">
        <img src="dist/images/slider-logo.png" alt="Geostick" class="div-center">
    </div>
    <div class="panel-body">
        @if (SignInManager.IsSignedIn(User))
        {
            <h1>Hello @UserManager.GetUserName(User)!</h1>
        }
        else
        {
            <form class="login-form" method="post" action="/login?returnUrl=" role="form">
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="E-mail" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password" value="">
                    </div>
                    <div class="checkbox">
                        <label><input name="remember" type="checkbox" value="Remember Me"> Remember Me</label>
                    </div>
                    <input class="button green div-center" type="submit" value="Inloggen">
                </fieldset>
            </form>
        }
    </div>
    <div class="panel-footer">
        <img src="dist/images/pangaea.png" alt="Pangaea Digital Agency">
    </div>
</div>