@{
    Layout = "layout";
}

<div>
    @using(var form = Html.BeginForm(FormMethod.Post)) { 
        @Html.AntiForgeryToken()
        <input type="text" name="Email" />
        <input type="password" name="Password" />
        <input type="submit" />
    }
</div>