$background: #efefef;
$color: #999;

$header-color: #333333;

$border-color: #26292e;

$color: #85878b;
$background-color: #33373d;

$active-color: #fff;
$active-background-color: #cd5353;

$timeline-icon-color: #ccc;